nav {
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  display: inline-block;
  padding: .5em;
}

li a {
  color: white;
  text-decoration: none;
}

li a:hover {
  color: lightgray;
  text-decoration: none;
}